
h1,h2,h3,h4,h5,h6,button,label{
    font-family: 'Press Start 2P',cursive;
}

#voltar{
    transform: scale(1,1);
    transition: all 0.1s ease-in-out;
    border: none;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.125);
    border-radius: 10%;
    font-size: large;
}
#voltar:hover{
    transform: scale(1.2,1.2);
    box-shadow: 0px 0px 12px 12px rgba(128, 255, 128, 0.375);
    background-color: rgba(0, 255, 128, 1);
}

.UTBar{
    background: lime;
    margin-left: 0%;
}

.UTBar[KR="false"]::-webkit-progress-value{
    background: lime;
    margin-left: 0%;
}
.UTBar[KR="true"]::-webkit-progress-value{
    background: magenta;
    margin-left: 0%;
}
.UTBar::-webkit-progress-bar{
    background: red;
    margin-left: 0%;
}

.UTbutton{
    background-color: black;
    border: solid 3px orange;
    color: orange;
    text-align: center;
    font-size: large;
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 25%;
    height: 100%;
}
.UTbutton:focus-visible{
    border: solid 3px yellow;
    color: yellow;
}

#Img[damaged='false'], #mainBody[damaged='false']{
    filter: opacity(1);
    filter: saturate(1);
    filter: brightness(1);
    transition: all 1s ease-in-out;
}

#Img[damaged='true'], #mainBody[damaged='true']{
    filter: opacity(0);
    filter: saturate(0);
    filter: brightness(0);
    transition: all 0.5s ease-in-out;
}

#mainBody[damaged='false']{
    background-color: black;
}

#mainBody[damaged='true']{
    background-color: red;
}

#LVPlayer, #HPLabelPlayer, #KRPlayer,#HPLabel,#Nm,#Interact{
    color: white;
}
#ATPlayer,#DFPlayer,#GoldPlayer{
    color: red;
}

.InteractContainer{
    display: flex;
    width: 90%;
    height: 200px;
    margin-left: 5%;
    border: 2.5px solid white;
}

#Interact{
    width: 99%;
    height: 90%;
    margin-left: 0.5%;
    margin-top: 0.5%;
    text-align: justify;
    background-color: transparent;
}

.PlayerContainer, .MonsterContainer, .ButtonGroup{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 40%;
    margin-left: 30%;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
    background-color: transparent;
}

@media (max-width: 910px) {
    .PlayerContainer, .MonsterContainer, .ButtonGroup{
        flex-direction: column;
    }
    .UTBar{
        display: flex;
        justify-content: center;
        align-self: center;
        order: -5;
    }
    #LVPlayer,#HPLabelPlayer{
        order: -1;
    }
    #LVPlayer,#HPLabelPlayer, #HPLabel, #Nm{
        margin-top: 1%;
        margin-left: 1%;
    }
}

#Img{
    margin-left: 44%;
    margin-right: 44%;
    min-width: 12%;
    max-width: 12%;
}

.ButtonGroup{
    height: 50px;
    margin-left: 12.5%;
    width: 75%;
}